# for console output, don't know root cause yet
CONFIG_CMDLINE=""
CONFIG_SOFT_WATCHDOG=m

# for fastbootd in init.recovery.hardware.rc
# CONFIG_USB_CDC_COMPOSITE is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_F_MIDI=y
CONFIG_USB_F_NCM=y
CONFIG_USB_F_RNDIS=y
# CONFIG_USB_FUNCTIONFS is not set
# CONFIG_USB_GADGETFS is not set

# for AIOT arch
CONFIG_CHROME_PLATFORMS=y
# CONFIG_DMABUF_HEAPS_REALTEK is not set
CONFIG_DRM_DISPLAY_DP_AUX_BUS=y
CONFIG_DRM_EXEC=m
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_GPUVM=m
CONFIG_DRM_PANFROST=m
CONFIG_DRM_PANTHOR=m
CONFIG_DRM_SCHED=m
# CONFIG_MALI is not set
CONFIG_MFD_RAA271003_I2C=y
CONFIG_REGULATOR_RAA271003=y
CONFIG_RTW88=m
CONFIG_RTW88_8822CS=m
CONFIG_RTW89=m
CONFIG_RTW89_8852BE=m
CONFIG_SND_DRIVERS=y
CONFIG_SND_DUMMY=y
CONFIG_SND_SOC_RTK_HIFI_MACHINE=m
CONFIG_SND_SOC_SOF_OF=y
CONFIG_SND_SOC_SOF_OF_HIFI=m
CONFIG_SND_SOC_SOF_RTK_TOPLEVEL=y
CONFIG_SND_SOC_SOF_TOPLEVEL=y
CONFIG_THERMAL_STATISTICS=y
CONFIG_UIO_PDRV_GENIRQ=y

# drop unneccessary GKI config to save memory usage and kernel size
# CONFIG_ANDROID_KABI_RESERVE is not set
# CONFIG_ANDROID_VENDOR_HOOKS is not set
# CONFIG_ANDROID_VENDOR_OEM_DATA is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_GKI_DYNAMIC_TASK_STRUCT_SIZE is not set
# CONFIG_GKI_HACKS_TO_FIX is not set
# CONFIG_KALLSYMS_ALL is not set
# CONFIG_KASAN is not set
CONFIG_MODULE_ALLOW_MISSING_NAMESPACE_IMPORTS=y
# CONFIG_PAGE_OWNER is not set
# CONFIG_PAGE_PINNER is not set
# CONFIG_UBSAN is not set

# drop other-vendor SoC arch/driver subtrees to save kernel size
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_TEGRA_234_SOC is not set
# CONFIG_EXYNOS_HVM is not set
# CONFIG_GUNYAH is not set
# CONFIG_GUNYAH_IOEVENTFD is not set
# CONFIG_GUNYAH_IRQFD is not set
# CONFIG_GUNYAH_QCOM_TRUSTED_VM is not set
# CONFIG_MTK_GZVM is not set
# CONFIG_PCIE_DW_PLAT_EP is not set
# CONFIG_PCIE_KIRIN is not set
# CONFIG_PCIE_QCOM is not set
# CONFIG_QCOM_GENI_SE is not set
# CONFIG_SERIAL_AMBA_PL011 is not set
# CONFIG_SERIAL_AMBA_PL011_CONSOLE is not set
# CONFIG_SERIAL_QCOM_GENI is not set
# CONFIG_SERIAL_QCOM_GENI_CONSOLE is not set
# CONFIG_SERIAL_SAMSUNG is not set
# CONFIG_SERIAL_SAMSUNG_CONSOLE is not set
# CONFIG_SERIAL_SPRD is not set
# CONFIG_SERIAL_SPRD_CONSOLE is not set
# CONFIG_SERIAL_TEGRA_TCU is not set
# CONFIG_SOC_BRCMSTB is not set
